{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content-page">
    <div class="container-fluid add-form-list">
       <div class="row">
           <div class="col-sm-12">
               <div class="card">
                   <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                           <h4 class="card-title">Add category</h4>
                       </div>
                   </div>
                   <div class="card-body">
                       <form action="" data-toggle="validator">
                           <div class="row">                                
                               
                               <div class="col-md-12">
                                   <div class="form-group">
                                       <label>Category Name*</label>
                                       <input type="text" class="form-control" id="category_name" name="category_name" placeholder="Enter Category Name" required>
                                       <div class="help-block with-errors"></div>
                                   </div>
                               </div>                                 
                           </div>                            
                           <input type="button" class="btn btn-primary mr-2" id="cat_action" value="Add category">
                           {% comment %} <button type="reset" class="btn btn-danger">Reset</button> {% endcomment %}
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function(){
        $("#cat_action").click(function(){
            var category_name = $('#category_name').val();
            
            console.log("category_name :", category_name);
            

            $.ajax({
                url:"/add_category",
                type : "POST",
                data : {category_name : category_name},
                success : function(result)
                {
                    console.log("result ***: ",result);
                    alert("category added");
                    window.location.href = "/categoryListView";
                }
        
            });
        
        });
        
    });
</script>
       {% endblock content%}